@model FormDashboard
<az-script module="Dashboard.js" />
<az-layout class="add-widget" script-random='(t)=>$"AddWidget(\".{t}\")"'>
    <div class="overflow-auto">
        <ul class="widget-list">
            @foreach (var key in Model.dic.Keys)
            {
                var item = Model.dic[key];
                <li widget="@key"> @Html.Raw(@item.GetName())</li>
            }
        </ul>
        <form class="widget-setting">

        </form>
    </div>
    <div class="float-right pt-2">
        <button class="btn btn-success az-btn btn-sm btn-save-close"> Lưu và đóng lại</button>
        <button class="btn btn-info az-btn btn-sm btn-save-refresh"> Lưu và làm mới</button>
    </div>
</az-layout>