@model FormDashboard
<az-script module="Dashboard.js" />
<az-layout class="add-widget" script-random='(t)=>$"AddWidget(\".{t}\")"'>
    <ul class="widget-list">
        @foreach (var key in Model.dic.Keys)
        {
            var item = Model.dic[key];
            <li widget="@key"> @Html.Raw(@item.GetName())</li>
        }
    </ul>
    <div class="widget-setting">

    </div>
</az-layout>