@model FormDashboard
    <az-module-layout buttons="Model.GetButtonInfo()" icon="fas fa-tachometer-alt">
        <div class="az-dashboard container-fluid">
            <div class="row">
                @foreach (var item in Model.Widgets())
                {
                    @item.GetContent();
                }
            </div>
        </div>
    </az-module-layout>