<az-script module="UserOnline.js"/>
<az-style module="UserOnline.css"/>
<az-layout script-random='(id) => $"UserOnline(\".{id}\");"' class="UserOnline show">
    <div class="layout-icon"><img src="~/img/support.png"/> </div>
    <div class="layout-chat">
        <div class="layout-header">
            <i class="fas fa-angle-double-left float-left"></i>
            <i class="fas fa-window-close float-right az-btn-close"></i>
        </div>
        <div class="layout-content">
            <div class="user-chat"></div>
            <div class="user-list">
            </div>
        </div>
        </div>
</az-layout>