@model FormUpdateContract
    <div class="az-update row" id="FormUpdateRenter" role="form">
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((ContractModel)item).ContractCode" label="Mã hợp đồng" attr="autofocus" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((ContractModel)item).ContractName" label="Tên hợp đồng" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((ContractModel)item).BossID" label="Chủ nhà" />
        </div>
        <div class="form-group col-md-6">
            <az-renter-select model="Model.Data" func="(item)=>((ContractModel)item).RenterID" label="Người thuê nhà" />
        </div>
        <div class="form-group col-md-6">
            <az-hotel-select model="Model.Data" func="(item)=>((ContractModel)item).HotelID" label=" Phòng trọ" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((ContractModel)item).Deposit" label="Tiền đặt cọc" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((ContractModel)item).Quantity" label="Số bạn cùng phòng" />
        </div>
        <div class="form-group col-md-6">
            <az-TypeOfContract-select model="Model.Data" func="(item)=>((ContractModel)item).TypeOfContract" label="Loại hợp đồng" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((ContractModel)item).TimeStart" label="Thời gian bắt đầu" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((ContractModel)item).TimeEnd" label="Thời gian kết thúc" />
        </div>
        <div class="form-group col-md-6">
            <az-contract-status-select model ="Model.Data" func="(item)=>((ContractModel)item).ContractStatus" label="Trạng thái hợp đồng" />
        </div>
        <div class="form-group col-md-12">
            <az-text-area-model model="Model.Data" func="(item)=>((ContractModel)item).Note" label="Ghi chú" />
        </div>
    </div>
<az-script>

</az-script>