<az-html class="az-layout layout-top-nav az-layout-fullscreen">
    <head>
        <az-style>

        </az-style>
        <az-script>

        </az-script>
    </head>
    <body>
            @Model.BodyContent
    </body>
</az-html>