@model LayoutTheme
<az-html class="az-layout layout-top-nav">
    <head>

        <az-script>
           
        </az-script>
    </head>
    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            @Model.ViewChild("Components/Header")
           <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" id="ContentAZ">
                @Model.BodyContent
            </div>
            <!-- /.content-wrapper -->
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
    </body>
</az-html>