@model LayoutTheme
<az-html class="az-layout az-admin layout-top-nav accent-primary">
    <head>
        <az-token-jwt />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome Icons -->
        <az-style link="/lib/fontawesome-free/css/all.min.css" />
        <az-style link="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <az-style link="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
        <az-script link="/lib/jquery/jquery.min.js" />
        <az-script link="/lib/bootstrap/js/bootstrap.bundle.min.js" />
        <az-script link="/lib/admin-lte/js/adminlte.min.js" />
        <az-style link="/lib/admin-lte/css/adminlte.min.css" />
        <az-script link="/lib/moment/moment.min.js" />
        <!--select2-->
        <az-script link="/lib/select2/js/select2.js" />
        <az-style link="/lib/select2/css/select2.css" />
        <az-style link="/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
        <!--icheck-bootstrap-->
        <az-style link="/lib/icheck-bootstrap/icheck-bootstrap.min.css" />
        <!--bootstrap-switch-->
        <az-script link="/lib/bootstrap-switch/js/bootstrap-switch.min.js" />
        <az-style link="/lib/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" />
        <!--daterangepicker-->
        <az-script link="/lib/daterangepicker/daterangepicker.js" />
        <az-style link="/lib/daterangepicker/daterangepicker.css" />
        <!--inputmask-->
        <az-script link="/lib/inputmask/min/jquery.inputmask.bundle.min.js" />
        <!--summernote-->
        <az-script link="/lib/summernote/summernote.min.js" />
        <az-style link="/lib/summernote/summernote-bs4.css" />
        <!--toastr-->
        <az-script link="/lib/toastr/toastr.min.js" />
        <az-style link="/lib/toastr/toastr.min.css" />
        <!--Chart-->
        <az-script link="/lib/chart.js/Chart.min.js" />
        <az-style link="/lib/chart.js/Chart.min.css" />
        <!--Bootstrap4-Tag-Input-->
        <az-script link="/lib/Bootstrap4-Tag-Input/tagsinput.js" />
        <az-style link="/lib/Bootstrap4-Tag-Input/tagsinput.css" />
        <az-script link="/lib/typeahead/typeahead.bundle.js" />
        <!--signalr-->
        <az-script link="/lib/signalr/dist/browser/signalr.min.js" />
        <!-- bs-custom-file-input -->
        <az-script link="/lib/bs-custom-file-input/bs-custom-file-input.min.js" />
        <!-- loadingoverlay-->
        <az-script link="/lib/loadingoverlay/loadingoverlay.min.js" />
        <!--AZ Core-->
        <az-style link="/az-core/css/az-main.css" />
        <az-script link="/az-core/js/az-hotkey.js" />
        <az-script link="/az-core/js/az-core.js" />
        <az-script link="/az-core/js/az-ajax.js" />
        <az-script link="/az-core/js/az-popup.js" />
        <az-script link="/az-core/js/az-manager.js" />
        <az-script link="/az-core/js/az-url.js" />
        <az-script link="/az-core/js/az-signalR.js" />
    </head>
    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            @Model.ViewChild("Components/Header")
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" id="ContentAZ">
                @Model.BodyContent
            </div>
            <!-- /.content-wrapper -->
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        @Model.ViewChild("Components/UserOnline")
    </body>
</az-html>