@model LayoutTheme
    <!--[if lte IE 9]>
               <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
           <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/" title="JobF là hệ thống tuyển dụng lao động và quản lý lao động cho các công ty">
                                        <img src="/jobf/img/logo.png" alt="JobF là hệ thống tuyển dụng lao động và quản lý lao động cho các công ty">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Trang chủ</a></li>
                                            <li><a href="/tim-kiem-viec-lam.az">Tìm việc làm</a></li>
                                            <li><a href="/tim-nha-tro.az">Tìm nhà trọ</a></li>
                                            <li><a href="/cong-tac-vien.az">Cộng tác viên</a></li>
                                            <li>
                                                <a href="#">JobF Manager <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/jobf-manager/tinh-nang.az">Tính năng </a></li>
                                                    <li><a href="/jobf-manager/bao-gia.az">Báo giá </a></li>
                                                    <li><a href="/jobf-manager/lien-he.az">Liên hệ</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/cua-hang-tien-loi.az">Cửa hàng</a></li>
                                            <li><a href="/lien-he-jobf.az">Liên hệ</a></li>
                                            <li><a href="/bang-dieu-khien.az">Trang quản lý</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/dang-nhap.az">Đăng nhập</a>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <a class="boxed-btn3" href="/dang-ky.az">Đăng ký</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
