@model LayoutTheme
    <!--[if lte IE 9]>
               <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
           <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/" title="JobF là hệ thống tuyển dụng lao động và quản lý lao động cho các công ty">
                                        <img src="/jobf/img/logo.png" alt="JobF là hệ thống tuyển dụng lao động và quản lý lao động cho các công ty">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/"><i class="fas fa-home az-menu-home-icon"></i>Trang chủ</a></li>
                                            <li><a href="/tim-viec-lam.az"><i class="fas fa-briefcase az-menu-home-icon"></i>Tìm Việc làm</a></li>
                                            <li><a href="/tim-nha-tro.az"><i class="fas fa-hotel az-menu-home-icon"></i>Tìm nhà trọ</a></li>
                                            <li><a href="/bai-viet-moi.az"><i class="far fa-newspaper az-menu-home-icon"></i>Bài viết mới</a></li>
                                            <li>
                                                <a href="#"><i class="fas fa-headset az-menu-home-icon"></i>Nhà tuyển dụng <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/bang-dieu-khien.az">Quản lý</a></li>
                                                    <li><a href="">Tính năng </a></li>
                                                    <li><a href="">Liên hệ</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        <a class="boxed-btn3" href="/dang-nhap.az">Đăng nhập</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
