.variant-table.table td, .variant-table.table th {
    text-align: center;
}

.variant-table thead tr th[colspan='4'] {
    border: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.variant-table thead tr th:nth-child(4n) {
    border-right: 1px solid;
}

.variant-table tbody tr td:nth-child(4n + 4) {
    border-right: 1px solid;
}

.variant-table tbody tr:last-child td:nth-child(n + 5) {
    border-bottom: 1px solid;
}