@model FormTenant
<az-content-header />
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <az-layout class="az-manager" script-random="id=>ScriptHelpper.FormManager(id,string.Empty)">
            <div class="row">
                <div class="col-3"><button class='btn btn-success btn-sm btn-add' data-id=''><i class='far fa-plus-square'></i> Thêm mới</button></div>
                <div class="col-4"></div>
                <div class="col-5">
                    <az-pagination pagination="Model" />
                </div>
            </div>
            @(Html.Grid(Model.Data)
                .Using(AZWeb.Module.Html.Grid.GridProcessingMode.Manual)
                .Id("IdUserCompany")
                .Build(columns =>
                {
                    columns.Add().RenderedAs((model, row) => row + 1+(Model.PageIndex-1)*Model.PageSize).Titled("#").Css("text-center");
                    columns.Add(prop => prop.Id).Hidden();
                    columns.Add(prop => prop.TenantCode);
                    columns.Add(prop => prop.Name);
                    columns.Add(prop => prop.CanonicalName);
                    columns.Add(prop => prop.Email);
                    columns.Add(prop => prop.PhoneNumber);
                    columns.Add(prop => prop.Address);
                    columns.Add(prop => prop.Website);
                    columns.Add(prop => prop.DomainName);
                    columns.Add().RenderedAs((model, row) => "<button class='btn btn-primary btn-sm btn-edit' data-id='{0}'><i class='far fa-edit'></i> Sửa</button>".Frmat(model.Id)).Encoded(false).Titled("Sửa").Css("text-center");
                    columns.Add().RenderedAs((model, row) => "<button class='btn btn-warning btn-sm btn-remove' data-id='{0}'><i class='fa fa-trash'></i> Xóa</button>".Frmat(model.Id)).Encoded(false).Titled("Xóa").Css("text-center");
                })
                .Filterable(AZWeb.Module.Html.Grid.GridFilterType.Multi)
                .Sortable()
                )
        </az-layout>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->