@model FormRole
<az-module-layout script-random='(id)=>$"$(\".{id}\").AZManager({{ButtonEditValue:\"Test thu\"}});"'>
    <div class="az-manager"  data-form-size="az-modal-xl">
        <div class="az-toolbar">
            <az-button class="btn btn-success btn-sm az-btn az-btn-add" cmd-key="f1" for-permission="@PE.Role_Add" icon="far fa-plus-square" text="Thêm Mới (F1)"/>
            <az-button class="btn btn-info btn-sm az-btn az-btn-export" cmd-key="f2" icon="fas fa-file-export" for-permission="@PE.Role_Export" text="Xuất Excel (F2)"/>
            <az-button class="btn btn-secondary btn-sm az-btn az-btn-import" cmd-key="f3" icon="fas fa-file-import" for-permission="@PE.Role_Import" text="Nhập Excel (F3)"/>
        </div>
            <div class="az-data-table">
                <az-table data="Model.Data" FunKey="(item)=>((RoleModel)item).Id" columns="Model.Columns" pagination="Model" is-edit="Model.HasPermission(PE.Role_Edit)" is-delete="Model.HasPermission(PE.Role_Remove)"></az-table>
            </div>
            <div class="az-bottom-manager">
                <az-pagination pagination="Model" />
            </div>
        </div>
</az-module-layout>
