<?xml version="1.0"?>
<root>
  <web-extenstion>az</web-extenstion>
  <web-default>m=home</web-default>
  <web-login>dang-nhap.az</web-login>
  <web-theme>Admin</web-theme>
  <web-layout>Admin</web-layout>
  <page>
    <!--home-->
    <url virtual="tim-kiem-viec-lam.az" real="m=home&amp;v=SearchJob"/>
    <url virtual="thong-tin-viec-lam/(\d+)-(.*?).az" real="m=home&amp;v=JobDetail&amp;JobId=$1&amp;JobSlug=$2"/>

    <!--admin-->
    <url virtual="bang-dieu-khien.az" real="m=Dashboard"/>
    <!--Common-->
    <!--url group="Common" virtual="dang-ky.az" real="m=auth&amp;v=register"/-->
    <url group="Common" virtual="dang-nhap.az" real="m=auth&amp;v=login"/>
    <url group="Common" virtual="dang-xuat.az" real='m=auth&amp;v=login&amp;h=logout'/>
    <url group="Common" virtual="dang-ky-doi-tac.az" real="m=auth&amp;v=TenantRegister"/>
    <url group="Common" virtual="tai-khoan.az" real="m=User"/>
    <url group="Common" virtual="tai-khoan/doi-mat-khau.az" real="m=User&amp;v=ChangePassword"/>
    <url group="Common" virtual="vai-tro.az" real="m=Role"/>
    <url group="Common" virtual="danh-sach-quyen.az" real="m=Permission"/>
    <url group="Common" virtual="doi-tac-su-dung-dich-vu.az" real="m=Tenant"/>
    <url group="Common" virtual="ma-he-thong.az" real="m=SystemCode"/>
    <url group="Common" virtual="thiet-lap-social.az" real="m=Social"/>
    <url group="Common" virtual="ket-noi-social.az" real="m=Social&amp;h=Connect"/>
    <url group="Common" virtual="hoan-thanh-ket-noi-social.az" real="m=Social&amp;h=ConnectDone"/>
    <url group="Common" virtual="power-chat.az" real="m=PowerChat"/>
    
    <!--Recruitment-->
    <url group="Recruitment" virtual="danh-sach-ung-vien.az" real="m=Candidate"/>
    <url group="Recruitment" virtual="cham-soc-ung-vien.az" real="m=Candidate&amp;v=Sale"/>
    <url group="Recruitment" virtual="danh-sach-cong-nhan.az" real="m=Worker"/>
    <url group="Recruitment" virtual="cham-cong-cong-nhan.az" real="m=Worker&amp;v=CheckinCheckout"/>
    <url group="Recruitment" virtual="cong-ty-thue-cong-nhan.az" real="m=CompanyWorker"/>
    <url group="Recruitment" virtual="cong-tac-vien.az" real="m=Collaborator"/>>
	<url group="Recruitment" virtual="danh-sach-viec-lam.az" real="m=Job"/>
    <!--Product-->
    <url group="Product" virtual="danh-sach-san-pham.az" real="m=Products"/>
    <url group="Product" virtual="quan-ly-ton-kho.az" real="m=Variants"/>
    <url group="Product" virtual="nhap-hang.az" real="m=PurchaseOrders"/>
    <url group="Product" virtual="nhap-hang/commit-nhap-hang.az" real="m=PurchaseOrders&amp;h=Commit"/>
    <url group="Product" virtual="nhap-hang/commit-payment.az" real="m=PurchaseOrders&amp;h=Payment"/>
    <url group="Product" virtual="nha-cung-cap.az" real="m=Supplier"/>
    <url group="Product" virtual="loai-san-pham.az" real="m=Products&amp;v=Category"/>
    <url group="Product" virtual="quan-ly-kho.az" real="m=Variants&amp;v=Store"/>
    <!--Orders-->
    <url group="Orders" virtual="don-hang.az" real="m=Orders"/>
    <url group="Orders" virtual="don-hang/commit-xuat-hang.az" real="m=Orders&amp;h=Commit"/>
    <url group="Orders" virtual="don-hang/check-ton-kho.az" real="m=Orders&amp;h=CheckStore"/>
    <url group="Orders" virtual="don-hang/cap-nhat-thanh-toan.az" real="m=Orders&amp;h=Payment"/>
    <url group="Orders" virtual="quan-ly-giao-hang.az" real="m=Shipments"/>
    <url group="Orders" virtual="doi-tac-van-chuyen.az" real="m=Shippers"/>
    <url group="Orders" virtual="khach-tra-hang.az" real="m=Returns"/>
    <!--Customers-->
    <url virtual="khach-hang.az" real="m=Customers"/>
    <url virtual="khach-hang/lich-su-mua-hang.az" real="m=Customers&amp;v=CusHistory"/>
    <!--Hotel-->
    <url group="Hotel" virtual="danh-sach-khu-vuc.az" real="m=Area"/>
    <url group="Hotel" virtual="danh-sach-phong-tro.az" real="m=Hotel"/>
    <url group="Hotel" virtual="danh-sach-nguoi-thue.az" real="m=Renter"/>
    <url group="Hotel" virtual="cac-loai-phong.az" real="m=TypeOfHotel"/>
    <url group="Hotel" virtual="dich-vu-chung.az" real="m=CommonService"/>
    <url group="Hotel" virtual="dich-vu-khu-vuc.az" real="m=AreaService"/>
    <url group="Hotel" virtual="dich-vu-phong.az" real="m=RoomService"/>
    <url group="Hotel" virtual="hoa-don-co-dinh.az" real="m=FixedBill"/>
    <url group="Hotel" virtual="hoa-don-luu-dong.az" real="m=ChangeBill"/>
    <url group="Hotel" virtual="hoa-don-tong.az" real="m=TotalBill"/>
    <url group="Hotel" virtual="thanh-toan.az" real="m=Payment"/>
    <url group="Hotel" virtual="thiet-bi-phong.az" real="m=Device"/>
    <url group="Hotel" virtual="thiet-bi-chung.az" real="m=DeviceCommon"/>
    <url group="Hotel" virtual="hop-dong.az" real="m=Contract"/>
  </page>
  <menu postion="Left">
  </menu>
  <menu postion="Top">
	  <menu-item icon="nav-icon fas fa-chart-pie" tilte="Tuyển dụng">
		  <sub-item icon="nav-icon fas fa-table" tilte="Danh sách việc làm" link="/danh-sach-viec-lam.az"/>
		  <sub-item icon="nav-icon fas fa-table" tilte="Bài viết blog" link="/bai-viet-blog.az"/>
		  <sub-item icon="nav-icon fas fa-table" tilte="Danh sách công ty" link="/danh-sach-cong-ty.az"/>
		  <sub-item icon="nav-icon fas fa-table" tilte="Khách trả hàng" link="/khach-tra-hang.az"/>
	  </menu-item>
    <menu-item icon="nav-icon fas fa-chart-pie" tilte="Đơn Hàng">
      <sub-item icon="nav-icon fas fa-table" tilte="Đơn hàng" link="/don-hang.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Quản lý giao hàng" link="/quan-ly-giao-hang.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Đối tác vận chuyển" link="/doi-tac-van-chuyen.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Khách trả hàng" link="/khach-tra-hang.az"/>
    </menu-item>

    <menu-item icon="nav-icon fas fa-chart-pie" tilte="Sản Phẩm">
      <sub-item icon="nav-icon fas fa-table" tilte="Danh sách sản phẩm" link="/danh-sach-san-pham.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Quản lý tồn kho" link="/quan-ly-ton-kho.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Nhập hàng" link="/nhap-hang.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Nhà cung cấp" link="/nha-cung-cap.az"/>
    </menu-item>
    
    <menu-item icon="nav-icon fas fa-chart-pie" tilte="Khách Hàng" link="/khach-hang.az">
    </menu-item>

    <menu-item icon="nav-icon fas fa-chart-pie" tilte="Báo cáo">
      <sub-item icon="nav-icon fas fa-table" tilte="Tổng quan" link="/dashboard.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Báo cáo bán hàng" link="/bao-cao-ban-hang.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Báo cáo kho" link="/bao-cao-kho.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Báo cáo tài chính" link="/bao-cao-tai-chinh.az"/>
    </menu-item>

    <menu-item icon="nav-icon fas fa-table" tilte="Nhà trọ">
      <sub-item icon="nav-icon fas fa-table" tilte="Khu vực" link="/danh-sach-khu-vuc.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Phòng trọ" link="/danh-sach-phong-tro.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Người thuê trọ" link="/danh-sach-nguoi-thue.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Loại phòng trọ" link="/cac-loai-phong.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Dịch vụ chung" link="/dich-vu-chung.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Dịch vụ khu vực" link="/dich-vu-khu-vuc.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Dịch vụ phòng" link="/dich-vu-phong.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Hóa đơn cố định" link="/hoa-don-co-dinh.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Hóa đơn lưu động" link="/hoa-don-luu-dong.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Hóa đơn tổng" link="/hoa-don-tong.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Thanh toán" link="/thanh-toan.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Thiết bị phòng" link="/thiet-bi-phong.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Thiết bị chung" link="/thiet-bi-chung.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Hợp đồng" link="/hop-dong.az"/>
    </menu-item>

    <menu-item icon="nav-icon fas fa-table" tilte="Hệ thống">
      <sub-item icon="nav-icon fas fa-table" tilte="Tài khoản" link="/tai-khoan.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Danh sách quyền" link="/danh-sach-quyen.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Đối tác sử dụng dịch vụ" link="/doi-tac-su-dung-dich-vu.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Mã hệ thống" link="/ma-he-thong.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Thiết lập mạng xã hội" link="/thiet-lap-social.az"/>
    </menu-item>
    <menu-item icon="fa fa-comments" tilte="Power Chat" link="/power-chat.az" class="power-chat-menu"/>
  </menu>
</root>