@model FormUser
<az-module-layout script-random='(id)=>$"$(\".{id}\").AZManager();"'>
    <div class="az-manager " data-form-size="az-modal-xl">
        <div class="az-toolbar">
            <az-button for-permission="@PE.User_Add" class="btn-success btn-sm az-btn-add" cmd-key="f1" icon="far fa-plus-square" text="Thêm Mới (F1)" />
            <az-button for-permission="@PE.User_Export" class="btn-info btn-sm az-btn-export" cmd-key="f2" icon="fas fa-file-export" text="Xuất Excel (F2)" />
            <az-button for-permission="@PE.User_Import" class="btn-secondary btn-sm az-btn-import" cmd-key="f2" icon="fas fa-file-import" text="Nhập Excel (F3)" />
            <az-link href="/vai-tro.az" class="btn btn-secondary btn-sm az-btn az-link-popup" cmd-key="f4" icon="fas fa-user-tag"  modal-size="az-modal-xl" text="Quản lý vai trò (F4)"/>
            <az-link href="/danh-sach-quyen.az?h=User" class="btn btn-danger btn-sm az-btn az-link-popup" cmd-key="f5" icon="fas fa-user-tag"  modal-size="az-modal-xl" text="Phân quyền cho người dùng (F5)"/>
        </div>
        <div class="az-data-table">
            <az-table data="Model.Data" FunKey="(item)=>((UserModel)item).Id" columns="Model.Columns" pagination="Model"></az-table>
        </div> 
        <div class="az-bottom-manager">
            <az-pagination pagination="Model" />
        </div>
    </div>
</az-module-layout>
