@model FormChangePassword
    <div class="row" id="formChangePassword" data-user-id="@Model.UserId">
        <div class="col-12 form-group"><az-text name="password" label="Mật khẩu" placeholder="Mật khẩu"/></div>
        <div class="col-12 form-group"><az-text name="password2" label="Nhập lại mật khẩu" placeholder="Nhập lại mật khẩu"/></div>
        <div class="col-12 form-group"><az-button class="btn az-btn btn-success btn-change-password"cmd-key="f2" text="Đổi mật khẩu [F2]"/></div>
    </div>
<az-script module="ChangePassword.js"/>