@model FormCheckinCheckout
<az-module-layout>
    <div class="az-manager" id="FormCheckinCheckOut" data-form-size="az-modal-xl">
        <div class="az-toolbar">
            <div class="row">
                <div class="col-md-3 form-group">
                    <button type="button" class="btn btn-info   az-btn az-btn-export"><i class="fas fa-file-export"></i> Xuất Excel (F2)</button>
                    <button type="button" class="btn btn-secondary  az-btn az-btn-import"><i class="fas fa-file-import"></i> Nhập Excel (F3)</button>
                </div>
                <div class="col-md-7">
                    <form class="az-search-form row">
                        <az-hidden-model model="Model" func="(item) => ((FormCheckinCheckout)item).PageSize" />
                        <div class="form-group col-md-2">
                            <az-year-select model="Model" func="(item) => ((FormCheckinCheckout)item).Year" class="form-control form-control-sm  az-input-change-search" label="" time-year="3" attr="data-not-search='WorkerId'" null-text="Chọn năm" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-month-select model="Model" func="(item) => ((FormCheckinCheckout)item).Month" class="form-control form-control-sm  az-input-change-search" label="" attr="data-not-search='WorkerId'" null-text="Chọn tháng" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-company-worker-select model="Model" func="(item) => ((FormCheckinCheckout)item).CompanyId" class="form-control form-control-sm  az-input-change-search" label="" attr="data-not-search='WorkerId'" null-text="Chọn công ty" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-select-model model="Model" func="(item) => ((FormCheckinCheckout)item).WorkerId" list-object="Model.Workers" class="form-control form-control-sm  az-input-change-search" label="" null-text="Chọn công nhân" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h3 style="padding:5px;">Chấm công từ ngày @Model.StartDate.ToString("dd/MM/yyyy") đến @Model.EndDate.ToString("dd/MM/yyyy")</h3>
        <div class="az-data-table">
            <div class="az-div-freeze">
               <az-table-checkin-checkout data="Model.AZData"/>
            </div>
        </div>
        <div class="az-bottom-manager">
            <az-pagination pagination="Model" />
        </div>
    </div>
</az-module-layout>
<az-style>
    #FormCheckinCheckOut .az-table-freeze .col-freeze{
    width:200px;
    line-height: 50px;
    text-align: center;
    }

    #FormCheckinCheckOut .az-table-freeze tbody .col-freeze{
    height:78px;
    line-height: 39px;
    }
    #FormCheckinCheckOut .az-table-freeze .cell-freeze{
    width:400px;
    }
    #FormCheckinCheckOut .az-table-freeze .az-color-last-day {
    background-color: orangered;
    }
</az-style>
<az-script>
    $(document).ready(function() {
    $("#FormCheckinCheckOut").AZManager();
    $(".az-div-freeze").TableFreeze();
    });
</az-script>
