<az-html class="az-layout az-admin layout-top-nav accent-primary">
    <head>
        <az-token-jwt />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>JobHome</h1>
        @Model.BodyContent
    </body>
</az-html>