.az-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}
.az-wrapper .az-top-header {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}
.az-wrapper .az-top-header .az-navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 230px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
}
.az-layout .wrapper .main-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1037;
}
.az-layout .main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
}
.az-layout .wrapper .content-wrapper {
    margin-top: calc(3.5rem + 1px);
    height: calc(100% - 3.5rem - 2px);
    position:relative;
    padding:0px;
    overflow: auto;
}
.az-btn {
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.az-btn-close {

}
.az-btn-edit, .az-btn-delete {
    cursor: pointer;
}
.az-manager {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: calc(100% - 33px);
}
.az-manager .az-toolbar {
    background: #efeaea;
    width: 100%;
    height: 45px;
    padding: 7px;
}
    .az-manager .az-toolbar .az-search-form {
        padding: 0px;
        margin-top: -5px;
    }
    .az-manager .az-data-table {
        width: calc(100% - 2px);
        height: calc(100% - 50px - 2px);
        padding: 7px;
        overflow: auto;
    }
.az-manager.az-bottom {
    padding-bottom: 50px;
}
.az-manager.az-bottom .az-toolbar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-bottom: 1px solid;
}
    .az-manager .az-search-manager {
        margin: 1px 5px;
        padding: 10px;
        border-bottom: 1px solid;
    }
    .az-manager .az-bottom-manager {
        background:#e6e6e6;
        width:100%;
    }
    .az-manager .az-pagination {
        padding:5px;
    }
    .az-manager .az-pagination .pagination {
        padding: 0px;
        margin: 0px;
    }
.az-modal {
    background: rgba(0, 0, 0, 0.75);
    overflow:auto;
}
    .az-modal .modal-content {
        border-radius:0px;
    }
    .az-modal .modal-header {
        padding:5px 10px;
    }
        .az-modal .modal-header .close {
            padding: 5px 10px;
            margin: 0;
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
        }
.az-modal-full, .az-modal-full .modal-dialog, .az-modal-full .modal-dialog .modal-content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}
.az-modal-xl .modal-dialog {
    max-width:1050px;
}
.az-module-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
    .az-module-layout .az-module-header {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .az-module-layout .az-module-body {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        margin: 0;
        padding:0;
    }