@model FormUpdateBuilding
    <div class="az-update row" id="FormUpdateUser" role="form">
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((BuildingModel)item).Name" label="Họ tên" attr="autofocus" />
        </div>
    </div>
<az-script>

</az-script>