@model FormSearchTenant
<!--== Form Search==-->
    <div class="form-search">
        <div class="row">
            <div class="col-12 form-group">
                <h3>Tìm kiếm các đối tác cung ứng nguồn lao động cho công ty</h3>
                <h5>
                    Giải pháp kết nối đối tác cung ứng nguồn lao động với các công ty sử dụng lao động.<br />
                    Đánh mức độ uy tin của từng đối tác cung ứng nguồn lao với lao động và công ty sử dụng lao động.<br />
                    Uy tín - trách nhiệm - nhánh chóng - tiết kiệm.
                </h5>
            </div>
            <form>
                <div class="col-12 form-group">
                    @Html.ZHtml().TextBoxFor(p => p.TextSearch, new
                                                {
                                                    placeholder = "Tìm kiếm thông tin đối tác"
                                                })
                </div>
            </form>
        </div>
        </div>