@model FormCusHistory
    <az-layout class="az-update row">
        <div class="col-md-12 az-data-table">
            <table class="table table-bordered table-hover az-table " role="grid">
                <thead>
                    <tr>
                        <td>Mã đơn hàng</td>
                        <td>Trạng thái</td>
                        <td>Giao hàng</td>
                        <td>Thanh toán</td>
                        <td>Giá trị</td>
                        <td>Kho</td>
                        <td>Ngày ghi nhận</td>
                        <td>Cập nhật cuối</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SON00001</td>
                        <td>Hoàn thành</td>
                        <td><i title="Nhập kho toàn bộ" class="fa fa-circle"></i></td>
                        <td><i title="Thanh toán toàn bộ" class="fa fa-circle"></i></td>
                        <td>511,500</td>
                        <td>Chi nhánh mặc định</td>
                        <td>14/04/2020 22:50</td>
                        <td>17/04/2020 18:40</td>
                    </tr>
                    <tr>
                        <td>SON00001</td>
                        <td>Hoàn thành</td>
                        <td><i title="Nhập kho toàn bộ" class="fa fa-circle"></i></td>
                        <td><i title="Thanh toán toàn bộ" class="fa fa-circle"></i></td>
                        <td>511,500</td>
                        <td>Chi nhánh mặc định</td>
                        <td>14/04/2020 22:50</td>
                        <td>17/04/2020 18:40</td>
                    </tr>
                    <tr>
                        <td>SON00001</td>
                        <td>Hoàn thành</td>
                        <td><i title="Nhập kho toàn bộ" class="fa fa-circle"></i></td>
                        <td><i title="Thanh toán toàn bộ" class="fa fa-circle"></i></td>
                        <td>511,500</td>
                        <td>Chi nhánh mặc định</td>
                        <td>14/04/2020 22:50</td>
                        <td>17/04/2020 18:40</td>
                    </tr>
                    <tr>
                        <td>SON00001</td>
                        <td>Hoàn thành</td>
                        <td><i title="Nhập kho toàn bộ" class="fa fa-circle"></i></td>
                        <td><i title="Thanh toán toàn bộ" class="fa fa-circle"></i></td>
                        <td>511,500</td>
                        <td>Chi nhánh mặc định</td>
                        <td>14/04/2020 22:50</td>
                        <td>17/04/2020 18:40</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </az-layout>
