@model FormUpdateChangeBill
    <div class="az-update row" id="FormUpdateChangeBill" role="form">
        <div class="form-group col-md-4">
            <az-text-model model="Model.Data" func="(item)=>((ChangeBillModel)item).Code" label="Mã hóa đơn" attr="autofocus" />
        </div>
        <div class="form-group col-md-4">
            <az-hotel-select model="Model.Data" func="(item)=>((ChangeBillModel)item).HotelID" label="Tên phòng trọ" />
        </div>
        <div class="form-group col-md-2">
            <az-month-select model="Model.Data" func="(item)=>((ChangeBillModel)item).Month" label="Tháng" />
        </div>
        <div class="form-group col-md-2">
            <az-number model="Model.Data" func="(item)=>((ChangeBillModel)item).Year" label="Năm" />
        </div>
        <div class="form-group col-md-4">
            <az-common-service-select model="Model.Data" func="(item)=>((ChangeBillModel)item).CommonServiceID" label="Tên dịch vụ" />
        </div>
        <div class="form-group col-md-4">
            <az-number-model model="Model.Data" func="(item)=>((ChangeBillModel)item).Price" label="Giá" />
        </div>
        <div class="form-group col-md-4">
            <az-text-model model="Model.Data" func="(item)=>((ChangeBillModel)item).Unit" label="Đơn vị" />
        </div>
        <div class="form-group col-md-4">
            <az-number-model model="Model.Data" func="(item)=>((ChangeBillModel)item).NumberBefore" label="Số tháng trước" />
        </div>
        <div class="form-group col-md-4">
            <az-number-model model="Model.Data" func="(item)=>((ChangeBillModel)item).NumberCurrent" label="Số hiện tại" />
        </div>
        <div class="form-group col-md-4">
            <az-number-model model="Model.Data" func="(item)=>((ChangeBillModel)item).Quantity" label="Số lượng" />
        </div>
        <div class="form-group col-md-4">
            <az-bill-status-select model="Model.Data" func="(item)=>((ChangeBillModel)item).StatusBill" label="Trạng thái" />
        </div>
        <div class="form-group col-md-12">
            <az-text-area-model model="Model.Data" func="(item)=>((ChangeBillModel)item).Note" label="Ghi chú" />
        </div>
    </div>
<az-script>

</az-script>