.UserOnline {
    position:fixed;
    bottom:50px;
    right:5px;
}
.UserOnline .layout-icon {
    width: 60px;
    height: 60px;
}
.UserOnline .layout-icon  img{
    width:100%;
}
.UserOnline .layout-icon:hover {
    padding: 5px;
    width: 67px;
    height: 67px;
    border:1px solid #0094ff;
    border-radius:5px;
    background:#00ffff;
    cursor:pointer;
}
.UserOnline.show{
    bottom:0px;
    right:5px;
}
.UserOnline.show .layout-icon,.layout-chat,.layout-chat .user-chat {
    display:none;
}
.UserOnline.show .layout-chat{
    display:block;
    height:400px;
}
.layout-chat .layout-header{
    height:40px;
    background:#2f6bdb;
    width:100%;
}
.layout-chat .layout-content{
    height:360px;
    background:#2f6bdb;
}
.layout-chat .layout-header .fas{
    margin:9px;
    font-size:25px;
    color:#fff;
}
.UserOnline.show .layout-chat .user-list,.UserOnline.show .layout-chat .user-chat{
    width:300px;
    height:100%;
    float:left;
    background:#00ffff;
    border:1px solid #0094ff;

}