.UserOnline {
    position:fixed;
    bottom:50px;
    right:5px;
}
    .UserOnline .layout-chat {
        position: relative;
        display: none;
        width: 300px;
        height: 400px;
        background: #ccc;
        border: 2px solid #808080;
        border-radius: 5px 5px 0px 0px;
    }
        .UserOnline .layout-chat .btn-chat-close {
            font-size:25px;
            position:absolute;
            top:5px;
            right:5px;
        }
            .UserOnline .layout-chat .btn-chat-close:hover {
                cursor:pointer;
            }
    .UserOnline .layout-logo .logo {
        width: 50px;
    }
    .UserOnline .layout-logo label {
        display:none;
    }
    .UserOnline:hover .layout-logo label {
        display:block;
    }
    .UserOnline:hover .layout-logo {
        width: 150px;
        text-align: center;
        padding: 5px;
        background: #f5fa00;
        cursor: pointer;
        border: 2px solid #808080;
        border-radius: 5px;
    }
    .UserOnline.show {
      bottom:0px;
    }
    .UserOnline.show .layout-chat {
        display: block;
    }
        .UserOnline.show .layout-logo {
            display: none;
        } 
       
