@model FormDeviceCommon
<az-module-layout script-random='(id)=>$"$(\".{id}\").AZManager();"' buttons="Model.GetButtonInfo()" class="az-manager" attr='data-form-size="az-modal-xl"' icon="fas fa-desktop">
        <div class="az-search-manager">
            <div class="row">
                <div class="col-md-10">
                    <form class="az-search-form row">
                        <az-hidden-model model="Model" func="(item)=>((FormDeviceCommon)item).PageSize" />
                        <div class="form-group col-md-2">
                            <az-text-model model="Model" func="(item)=>((FormDeviceCommon)item).Name" label="Tên thiết bị" />
                        </div>
                    </form>
                </div>
                <div class="col-md-2 align-self-center">
                    <div class="btn-group float-right ">
                        <button type="button" class="btn btn-warning  az-btn az-btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
                        <button type="button" class="btn btn-warning  dropdown-toggle dropdown-icon az-btn" data-toggle="dropdown">
                            <span class="sr-only">Tìm kiếm nâng cao</span>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="az-data-table">
            <az-table data="Model.Data" FunKey="(item)=>((DeviceCommonModel)item).Id" columns="Model.Columns" pagination="Model" />
        </div>
        <div class="az-bottom-manager">
            <az-pagination pagination="Model" />
        </div>
</az-module-layout>