@model FormPermission
<az-script module="Permission.js" />
<az-script>

</az-script>
<az-script link=""/>
<az-module-layout script-random='(id)=>$"ManagerPermission(\".{id}\");"' buttons="Model.GetButtonInfo()" class="az-manager" attr='data-form-size="az-modal-xl"'>
    <div class="az-data-table">
        <az-table data="Model.Data" FunKey="(item)=>((PermissionModel)item).Code" columns="Model.Columns" pagination="Model" is-delete="false" is-edit="false" />
    </div>
    <div class="az-bottom-manager">
        <az-pagination pagination="Model" />
    </div>
</az-module-layout>