@model FormUpdatePermission
    <div class="az-update row" Permission="form">
        <div class="col-md-12">
            <div class="form-group">
                <az-text-model model="Model.Data" func="(item)=>((PermissionModel)item).Code" label="Mã quyền" attr="Disabled" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <az-text-model model="Model.Data" func="(item)=>((PermissionModel)item).Name" label="Tên quyền" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <az-status-select model="Model.Data" func="(item)=>((PermissionModel)item).Status" label="Trạng thái" />
            </div>
        </div>
    </div>
<az-script>

</az-script>