@model FormUpdateProducts
<az-style module="UpdateProduct.css" />
<div class="az-update row" role="form">
    <div class="form-group col-md-8 row">
        <div class="form-group col-md-12">
            <az-text-model model="Model.Data" func="(item)=>((ProductModel)item).Name" label="Tên sản phẩm (*)" />
        </div>
        <div class="form-group col-md-12">
            <az-text-model model="Model.Data" func="(item)=>((ProductModel)item).Code" label="Mã sản phẩm (SKU)" />
        </div>
        <div class="form-group col-md-12">
            <az-category-select model="Model.Data" func="(item)=>((ProductModel)item).CategoryId" label="Nhóm sản phẩm" null-text="Chọn nhóm" />
        </div>
        <div class="form-group col-md-12">
            <az-number-model model="Model.Data" func="(item)=>((ProductModel)item).ImportPrice" label="Giá nhập" />
        </div>
        <div class="form-group col-md-6">
            <az-number-model model="Model.Data" func="(item)=>((ProductModel)item).RetailPrice" label="Giá bán lẻ" />
        </div>
        <div class="form-group col-md-6">
            <az-number-model model="Model.Data" func="(item)=>((ProductModel)item).WholesalePrice" label="Giá bán buôn" />
        </div>
    </div>
    <div class="form-group col-md-4">
        <az-upload-file-model model="Model.Data" func="(item)=>((ProductModel)item).Picture" label="Ảnh sản phẩm" />
    </div>
    <div class="form-group col-md-6">
        <az-switch-model model="Model.Data" func="(item)=>((ProductModel)item).ProductSellable" value="true" label="Cho phép bán" />
    </div>
    <div class="form-group col-md-6">
        <az-switch-model model="Model.Data" func="(item)=>((ProductModel)item).ProductTaxable" value="true" label="Áp dụng thuế" />
    </div>
    <div class="form-group col-md-12">
        <az-text-area-model model="Model.Data" func="(item)=>((ProductModel)item).Description" label="Mô tả sản phẩm" />
    </div>
</div>