@model FormProducts
<az-module-layout script-random='(id)=>"$(\"."+id+"\").AZManager();"'>
    <div class="az-manager" id="FormProduct" data-form-size="az-modal-xl">
        <div class="az-toolbar">
            <button type="button" class="btn btn-success btn-sm az-btn az-btn-add" data-cmd-key="f1"><i class="far fa-plus-square"></i> Thêm Mới (F1)</button>
            <button type="button" class="btn btn-info btn-sm az-btn az-btn-export" data-cmd-key="f2"><i class="fas fa-file-export"></i> Xuất Excel (F2)</button>
            <button type="button" class="btn btn-secondary btn-sm az-btn az-btn-import" data-cmd-key="f3"><i class="fas fa-file-import"></i> Nhập Excel (F3)</button>
            <a href="/loai-san-pham.az" class="btn btn-secondary btn-sm az-btn" data-cmd-key="f4"><i class="fa fa-list-alt"></i> Loại sản phẩm (F4)</a>
        </div>
        <div class="az-search-manager">
            <div class="row">
                <div class="col-md-10">
                    <form class="az-search-form row">
                        <az-hidden-model model="Model" func="(item)=>((FormProducts)item).PageSize" />
                        <div class="col-md-10">
                            <az-text-model model="Model" func="(item)=>((FormProducts)item).Name" placeholder="Tìm kiếm tên sản phẩm" />
                        </div>
                        <div class="col-md-2">
                            <az-category-select model="Model" func="(item)=>((FormProducts)item).CategoryId" null-text="Nhóm sản phẩm" />
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <div class="btn-group float-right ">
                        <button type="button" class="btn btn-warning  az-btn az-btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
                        <button type="button" class="btn btn-warning  dropdown-toggle dropdown-icon az-btn" data-toggle="dropdown">
                            <span class="sr-only">Tìm kiếm nâng cao</span>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="az-data-table">
            <az-table data="Model.Data" FunKey="(item)=>((ProductModel)item).Id" columns="Model.Columns" pagination="Model"></az-table>
        </div>
        <div class="az-bottom-manager">
            <az-pagination pagination="Model" />
        </div>
    </div>
</az-module-layout>
