.form-purchase-order {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.list-info-money {
    float: right;
    width: 300px;
    margin: 20px 0;
}

    .list-info-money .item-info-money {
        margin-bottom: 10px;
        width: 100%;
        float: left;
    }
        .list-info-money .item-info-money .label {
            float: left;
            width: 55%;
            text-align: left;
        }
        .list-info-money .item-info-money .value {
            float: right;
            width: 45%;
            text-align: right;
        }