@model FormSocial
    <az-module-layout>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th style="width:50px">#</th>
                    <th style="width:100px">Tên</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Shopee</td>
                    <td><a href="/ket-noi-social.az?type=shopee">Kết nối</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Facebook</td>
                    <td><a href="/ket-noi-social.az?type=facebook">Kết nối</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Zalo</td>
                    <td><a href="/ket-noi-social.az?type=zalo">Kết nối</a></td>
                </tr>
            </tbody>
        </table>
    </az-module-layout>
