@model FormUpdateCandidate
@using AZERP.Data.Entities
<div class="az-update row" id="FormUpdateUser" role="form">
    <div class="form-group col-md-6">
        <az-model-input model="Model.Data" func="(item)=>((CandidateModel)item).FullName" label="Họ tên" />
    </div>
    <div class="form-group col-md-6">
        <az-model-input model="Model.Data" func="(item)=>((CandidateModel)item).Email" label="Email" />
    </div>
    <div class="form-group col-md-6">
        <az-model-input model="Model.Data" func="(item)=>((CandidateModel)item).PhoneNumber" label="Số điện thoại" />
    </div>
    <div class="form-group col-md-6">
        <az-model-input model="Model.Data" func="(item)=>((CandidateModel)item).LinkFacebook"  label="Đường dẫn facebook" />
    </div>
    <div class="form-group col-md-6">
        <az-model-input model="Model.Data" func="(item)=>((CandidateModel)item).Address" label="Địa chỉ" />
    </div>
</div>
<az-script>

</az-script>