@model FormCandidate
    <div class="az-manager">
        <div class="az-toolbar">
            <button type="button" class="btn btn-success btn-sm az-btn"><i class="far fa-plus-square"></i> Thêm Mới (F1)</button>
            <button type="button" class="btn btn-info btn-sm az-btn"><i class="fas fa-file-export"></i> Xuất Excel (F2)</button>
            <button type="button" class="btn btn-secondary btn-sm az-btn"><i class="fas fa-file-import"></i> Nhập Excel (F3)</button>
        </div>
        <div class="az-data-table">
            <az-table></az-table>
        </div>
</div>