@model OrderWidget
<div class="row">
    <div class="col-md-6 form-group">
        <az-text-model model="Model.Setting" func="(item)=>((OrderWidgetSetting)item).Title" label="Tiêu đề" />
    </div>
    <div class="col-md-6  form-group">
        <az-widget-width model="Model.Setting" func="(item)=>((OrderWidgetSetting)item).WidthClass" label="Độ rộng" />
    </div>
    <div class="col-md-6  form-group">
        <az-text-model model="Model.Setting" func="(item)=>((OrderWidgetSetting)item).Icon" label="Biểu tượng" />
    </div>
    <div class="col-md-6  form-group">
        <az-text-model model="Model.Setting" func="(item)=>((OrderWidgetSetting)item).Icon" label="Biểu tượng" />
    </div>
    <div class="col-md-6  form-group">
        <az-widget-type-select model="Model.Setting" func="(item)=>((OrderWidgetSetting)item).Type" label="Kiểu hiển thị" />
    </div>
</div>