@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OrderWidget

<div class="row">
    <div class="col-md-12 form-group">
            <az-text-model model="Model.Setting" func="(item)=>((OrderWidgetSetting)item).Title" label="Tiêu đề" />
    </div>
    <div class="col-md-12  form-group">
        
    </div>
</div>