@model FormUpdateRenter
    <div class="az-update row" id="FormUpdateRenter" role="form">
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((RenterModel)item).Code" label="Mã người thuê" attr="autofocus" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((RenterModel)item).Name" label="Tên người thuê" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((RenterModel)item).Address" label="Địa chỉ" />
        </div>
        <div class="form-group col-md-6">
            <az-number model="Model.Data" func="(item)=>((RenterModel)item).CMND" label="Số CMND/CCCD" />
        </div>
        <div class="form-group col-md-6">
            <az-number model="Model.Data" func="(item)=>((RenterModel)item).Tel" label="Số điện thoại" />
        </div>
        <div class="form-group col-md-12">
            <az-text-area-model model="Model.Data" func="(item)=>((RenterModel)item).Note" label="Ghi chú" />
        </div>
    </div>
<az-script>

</az-script>