@model FormUpdatePurchaseOrders
    <div class="az-update row" id="FormUpdatePurchaseOrders" role="form">
        <div class="form-group col-md-12">
            <az-text-model model="Model.Data" func="(item)=>((PurchaseOrderModel)item).Code" label="Mã đơn nhập hàng" />
        </div>
        <div class="form-group col-md-12">
            <az-supplier-select model="Model.Data" func="(item)=>((PurchaseOrderModel)item).SupplierCode" label="Nhà cung cấp" />
        </div>
        <div class="form-group col-md-12">
            <az-product-select model="Model.Data" func="(item)=>((PurchaseOrderModel)item).ProductCode" label="Sản phẩm" />
        </div>
        <div class="col-md-12 az-data-table">
            <table class="table table-bordered table-hover az-table " role="grid">
                <thead>
                    <tr>
                        <td>Mã SKU</td>
                        <td>Tên sản phẩm</td>
                        <td>Số lượng nhập</td>
                        <td>Giá nhập</td>
                        <td>Thành tiền</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="list-info-money">
                <div class="item-info-money">
                    <div class="label">Số lượng</div>
                    <div class="value">0</div>
                </div>
                <div class="item-info-money">
                    <div class="label">Tổng tiền (VNĐ)</div>
                    <div class="value">0</div>
                </div>
                <div class="item-info-money">
                    <div class="label">Chi phí (VNĐ)</div>
                    <div class="value">0</div>
                </div>
                <div class="item-info-money">
                    <div class="label"><b>Tiền cần trả (VNĐ)</b></div>
                    <div class="value">0</div>
                </div>
            </div>
        </div>
        @*<div class="form-group col-md-4">
            <az-text-model model="Model.Data" func="(item)=>((PurchaseOrderModel)item).ImportNumber" value="1" label="Số lượng nhập" />
        </div>
        <div class="form-group col-md-4">
            <az-text-model model="Model.Data" func="(item)=>((PurchaseOrderModel)item).ImportPrice" value="100000" label="Giá nhập (VNĐ)" />
        </div>
        <div class="form-group col-md-4">
            <label>Thành tiền (VNĐ)</label>
            <label class="form-purchase-order" id="LabelThanhTien">100,000</label>
        </div>*@
    </div>
<az-style module="PurchaseOrders.css" />
<az-script module="PurchaseOrders.js" />