@model FormPurchaseOrders
<az-script module="ManagerPurchaseOrder.js" />
<az-module-layout script-random='(id)=>"ManagerPurchaseOrder(\"."+id+"\");"'>
    <div class="az-manager" data-form-size="az-modal-xl">
        <div class="az-toolbar">
            <az-button class="btn btn-success btn-sm az-btn az-btn-add" cmd-key="f1" icon="far fa-plus-square" text="Tạo đơn nhập hàng (F1)" />
        </div>
        <div class="az-search-manager">
            <div class="row">
                <div class="col-md-10">
                    <form class="az-search-form row">
                        <az-hidden-model model="Model" func="(item)=>((FormPurchaseOrders)item).PageSize" />
                        <div class="col-md-3">
                            <az-order-status-select model="Model" func="(item)=>((FormPurchaseOrders)item).PurchaseOrderStatus" null-text="Chọn trạng thái" label="Trạng thái hóa đơn"></az-order-status-select>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <div class="btn-group float-right ">
                        <az-button class="btn btn-warning  az-btn az-btn-search" icon="fas fa-search" text="Tìm kiếm" />
                        <az-button class="btn btn-warning  dropdown-toggle dropdown-icon az-btn" data-toggle="dropdown">
                            <span class="sr-only">Tìm kiếm nâng cao</span>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </az-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="az-data-table">
            <az-table data="Model.Data" FunKey="(item)=>((PurchaseOrderModel)item).Id" columns="Model.Columns" pagination="Model" is-delete="false"></az-table>
        </div>
        <div class="az-bottom-manager">
            <az-pagination pagination="Model" />
        </div>
    </div>
</az-module-layout>
