@model FormUpdatePurchaseOrders
<az-style module="PurchaseOrders.css" />
<az-script module="PurchaseOrders.js" />
<az-layout class="az-update row" script-random='(id)=> $"PurchaseOrders(\".{id}\");"'>
    <div class="form-group col-md-12">
        <az-text-model model="Model.Data" func="(item)=>((PurchaseOrderModel)item).Code" label="Mã đơn nhập hàng" />
    </div>
    <div class="form-group col-md-12">
    </div>
    <div class="col-md-12 az-data-table">
        <table class="table table-bordered table-hover az-table " role="grid">
            <thead>
                <tr>
                    <td>Mã SKU</td>
                    <td>Tên sản phẩm</td>
                    <td>Nhà cung cấp</td>
                    <td>Số lượng nhập</td>
                    <td>Giá nhập</td>
                    <td>Thành tiền</td>
                </tr>
            </thead>
            <tbody>
                <tr class="add-product">
                    <td></td>
                    <td>
                        <az-product-select model="Model.Data" class="list-product form-control select2" null-text="Chọn sản phẩm" />
                    </td>
                    <td>
                        <az-supplier-select model="Model.Data" null-text=" Chọn nhà cung cấp" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="list-info-money">
            <div class="item-info-money">
                <div class="label">Số lượng</div>
                <div class="value">1</div>
            </div>
            <div class="item-info-money">
                <div class="label">Tổng tiền</div>
                <div class="value">1</div>
            </div>
            <div class="item-info-money">
                <div class="label">Chi phí</div>
                <div class="value">1</div>
            </div>
            <div class="item-info-money">
                <div class="label"><b>Tiền cần trả</b></div>
                <div class="value">1</div>
            </div>
        </div>
    </div>
    @*<div class="form-group col-md-4">
            <az-text-model model="Model.Data" func="(item)=>((PurchaseOrderModel)item).ImportNumber" value="1" label="Số lượng nhập" />
        </div>
        <div class="form-group col-md-4">
            <az-text-model model="Model.Data" func="(item)=>((PurchaseOrderModel)item).ImportPrice" value="100000" label="Giá nhập (VNĐ)" />
        </div>
        <div class="form-group col-md-4">
            <label>Thành tiền (VNĐ)</label>
            <label class="form-purchase-order" id="LabelThanhTien">100,000</label>
        </div>*@
</az-layout>
