 <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>
            Chào mừng tới hệ thống <span>JobVINA</span>
        </h1>
        <h2>Chúng tôi là nơi cung cấp thông tin tuyển dụng lao động, đơn vị cung ứng lao động uy tín và đồng thời các thông tin của các công ty tuyển dụng lao động ở khu công nghiệp.</h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Giới thiệu chúng tôi</a>
            <a href="https://www.youtube.com/watch?v=xPIizE9eoW0" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Xem video <i class="icofont-play-alt-2"></i></a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Tính đồng bộ</a></h4>
                        <p class="description">Là giải pháp đồng bộ hóa dữ liệu của công nhân và công ty trên cùng 1 hệ thống</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Tính linh hoạt</a></h4>
                        <p class="description">Sử dụng công nghệ web tiên tiến giúp hoạt động trơn tru mọi môi trường và bất kỳ ở đâu</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Thông tin minh bạch</a></h4>
                        <p class="description">Là nơi tra cứu thông tin của các công ty tuyển dụng và các đối tác cung ứng lao động uy tín. Tránh bị lừa đảo với người lao động.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Tiết kiệm</a></h4>
                        <p class="description">Tìm việc rất đơn giản,tìm lao động cực kỳ đơn giản và nhanh chóng trên hệ thống</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Giới thiệu</h2>
                <h3>Giải pháp tuyển dụng và quản lý công nhân <span>JobVINA</span></h3>
                <p>JobVINA là giải pháp tối ưu tuyển dụng và sử dụng, điều phối lao động tại các công ty với nhau.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <h3>Giải pháp JobVINA</h3>
                    <p class="font-italic"></p>
                    <ul>
                        <li>
                            <i class="bx bx-store-alt"></i>
                            <div>
                                <h5>Tuyển dụng lao động</h5>
                                <p>JobVINA sẽ tìm người đang cần việc làm giúp cho tất cả đối tác cung ứng lao động, chỉ cần vào lựa chọn thôi.</p>
                            </div>
                        </li>
                        <li>
                            <i class="bx bx-images"></i>
                            <div>
                                <h5>Công ty sử dụng lao động</h5>
                                <p>JobVINA sẽ đánh giá các đối tác cung ứng lao động có uy tín hay không, Công ty có thể sử dụng nhiều đối tác cung ứng lao động.</p>
                            </div>
                        </li>
                        <li>
                            <i class="bx bx-images"></i>
                            <div>
                                <h5>Các đối tác cung ứng</h5>
                                <p>JobVINA sẽ nơi đối tác cung ứng ở miền nam có thể tuyển lao động cho miền bắc, giúp tận dụng nguồn lực và tối ưu doanh thu cho các đối tác cung ứng.</p>
                            </div>
                        </li>
                    </ul>
                    <p>
                        JobVINA sẽ là môi trường an toàn và uy tín đối với các công ty và người lao động ở khu công nghiệp hiện nay.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Uy Tín <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Tốc độ <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Thông tin việc làm <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Thông tin đối tác cung ứng <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Công ty sử dụng lao động <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Tin tức <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up">1531</span>
                        <p>Việc làm</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="icofont-document-folder"></i>
                        <span data-toggle="counter-up">521</span>
                        <p>Đối tác cung ứng lao động</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="icofont-live-support"></i>
                        <span data-toggle="counter-up">1,463</span>
                        <p>Công ty tuyển dụng lao động</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="icofont-users-alt-5"></i>
                        <span data-toggle="counter-up">15020</span>
                        <p>Người lao động</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container" data-aos="zoom-in">

            <div class="row">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Dịch vụ</h2>
                <h3>Dịch vụ của <span>JobVINA</span></h3>
                <p></p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Tìm việc làm</a></h4>
                        <p>JobVINA sẽ tìm kiếm việc làm tốt nhất cho người lao động.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Tìm người lao động</a></h4>
                        <p>JobVINA sẽ cung cấp các thông tin của người lao động đang muốn tìm việc.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Giải pháp công tác viên tuyệt vời</a></h4>
                        <p>Các nhà cung ứng sẽ là công tác viên của nhau</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4><a href="">Quản lý thông tin công nhân</a></h4>
                        <p>Tình trạng công nhân đang làm việc và bảng chấm công của công nhân.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">Tìm kiếm đơn vị cung ứng lao động uy tín</a></h4>
                        <p>Chúng tôi sẽ đưa ra các nhà cung ứng lao động uy tín và phù hợp với công ty của bạn.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-arch"></i></div>
                        <h4><a href="">Giải pháp kết nối thông minh</a></h4>
                        <p>Kết nối người lao động đang nghỉ với các nhà cung ứng muốn tìm người lao động.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Bảng giá dịch vụ</h2>
                <h3>Bảng dịch vụ của <span>JobVINA</span></h3>
                <p>Tối ưu chi phí của đơn vị của bạn.</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <h3>Miễn phí</h3>
                        <h4><sup>VND</sup>0<span>/Ngày</span></h4>
                        <ul>
                            <li>20 Nhân viên</li>
                            <li>100 Công nhân</li>
                            <li>2 Công ty</li>
                            <li>1 cơ sở tuyển dụng</li>
                            <li>Chấm công của nhân viên</li>
                            <li>Chấm công của công nhân</li>
                            <li>Đăng tuyển trên hệ thống JobVINA</li>
                            <li class="na">Tuyển dụng chéo đối tác cung ứng khác</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Sử dụng</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box featured">
                        <h3>Đối tác cung ứng nhỏ</h3>
                        <h4><sup>VND</sup>800<span>/CN/Ngày</span></h4>
                        <ul>
                            <li>100 Nhân viên</li>
                            <li>1000 Công nhân</li>
                            <li>5 Công ty</li>
                            <li>1 cơ sở tuyển dụng</li>
                            <li>Chấm công của nhân viên</li>
                            <li>Chấm công của công nhân</li>
                            <li>Đăng tuyển trên hệ thống JobVINA</li>
                            <li class="na">Tuyển dụng chéo đối tác cung ứng khác</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Sử dụng</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <h3>Đối tác cung ứng vừa</h3>
                        <h4><sup>VND</sup>500<span>/CN/Ngày</span></h4>
                        <ul>
                            <li>150 Nhân viên</li>
                            <li>1500 Công nhân</li>
                            <li>10 Công ty</li>
                            <li>5 cơ sở tuyển dụng</li>
                            <li>Chấm công của nhân viên</li>
                            <li>Chấm công của công nhân</li>
                            <li>Đăng tuyển trên hệ thống JobVINA</li>
                            <li>Tuyển dụng chéo đối tác cung ứng khác</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Sử dụng</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <span class="advanced">Cao cấp</span>
                        <h3>Đối tác cung ứng</h3>
                        <h4><sup></sup>Liên hệ<span></span></h4>
                        <ul>
                            <li>Không giới hạn Nhân viên</li>
                            <li>Không giới hạn Công nhân</li>
                            <li>Không giới hạn Công ty</li>
                            <li>Không giới hạn cơ sở tuyển dụng</li>
                            <li>Chấm công của nhân viên</li>
                            <li>Chấm công của công nhân</li>
                            <li>Đăng tuyển trên hệ thống JobVINA</li>
                            <li>Tuyển dụng chéo đối tác cung ứng khác</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Liên hệ</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Hỏi đáp</h2>
                <h3>Các câu hỏi <span>thường gặp</span></h3>
                <p></p>
            </div>

            <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

                <li>
                    <a data-toggle="collapse" class="" href="#faq1">Sử dụng gói miễn phí có bị giới hạn thời gian sử dụng không? <i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse show" data-parent=".faq-list">
                        <p>
                            Cảm ơn bạn đã hỏi câu hỏi rất hay và thắc mắc nhiều người, JobVINA khẳng định là sẽ không bị giới hạn sử dụng, mà chỉ giới hạn số lượng nhân viên, công nhân, công ty trên hệ thống.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Tôi đang sử dụng gói miễn phí thì tôi có thể nâng cấp lên gói khác không? <i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <p>
                            JobVINA cho phép bạn nâng cấp các gói khác nhau 24/7.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Nếu tôi đang sử dụng gói mất phí nhưng đơn vị tôi gặp khó khắn thì có được hỗ trợ không? <i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <p>
                            JobVINA sẽ hỗ trợ bạn dãn thời gian trả lợi tối đa là 2 tháng.
                        </p>
                    </div>
                </li>
            </ul>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Liên hệ</h2>
                <h3><span>Liên hệ chúng tôi</span></h3>
                <p></p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Địa chỉ:</h3>
                        <p>
                            Mễ trì hạ,Mỹ Đình,Hà Nội
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email</h3>
                        <p>contact@jobvina.vn</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Gọi cho chúng tôi</h3>
                        <p>+84 988 888 888</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d476861.25367540115!2d105.37248356504338!3d20.973446120321853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135008e13800a29%3A0x2987e416210b90d!2zSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1595429584436!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->