@model FormUpdateProduct
    <div class="az-update row" id="FormUpdateCatalog" role="form">
        <div class="col-md-12">
            <div class="form-group">
                <az-code-model model="Model.Data" func="(item)=>((ProductModel)item).Code" label="Mã code" />
            </div>
        </div>
        @*<div class="col-md-12">
            <div class="form-group">
                <az-catalog-select model="Model.Data" func="(item)=>((ProductModel)item).ParentId" label="Nhóm cha" />
            </div>
        </div>*@

        <div class="col-md-12">
            <div class="form-group">
                <az-text-model model="Model.Data" func="(item)=>((ProductModel)item).Name" label="Tên Sản Phẩm" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <az-status-select model="Model.Data" func="(item)=>((ProductModel)item).Status" label="Trạng thái" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <az-switch-model model="Model.Data" func="(item)=>((ProductModel)item).IsDelete" label="Trạng thái" />
            </div>
        </div>
    </div>
<az-script>

</az-script>