#FormCheckinCheckout .cell-freeze .form-control {
    margin: 0px;
}

#FormCheckinCheckout .cell-freeze {
    min-width: 110px;
}

#FormCheckinCheckout tbody .cell-freeze {
    padding: 5px;
}

#FormCheckinCheckout .az-color-last-day {
    background-color: #aaa;
}

#FormCheckinCheckout thead select {
    text-align: center;
    text-align-last: center;
    /* webkit*/
}

#FormCheckinCheckout thead option {
    text-align: left;
    /* reset to left*/
}
