@model FormRegister
<az-html class="hold-transition register-page">
    <az-head>
        <az-style>
            //
            // Pages: Login & Register
            //

            .login-logo,
            .register-logo {
            font-size: 2.1rem;
            font-weight: 300;
            margin-bottom: .9rem;
            text-align: center;

            a {
            color: $gray-700;
            }
            }

            .login-page,
            .register-page {
            align-items: center;
            background: $gray-200;
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            }

            .login-box,
            .register-box {
            width: 360px;

            @@media (max-width: map-get($grid-breakpoints, sm)) {
            margin-top: 20px;
            width: 90%;
            }
            }

            .login-card-body,
            .register-card-body {
            background: $white;
            border-top: 0;
            color: #666;
            padding: 20px;

            .input-group {
            .form-control {
            border-right: 0;

            &:focus {
            box-shadow: none;

            & ~ .input-group-append .input-group-text {
            border-color: $input-focus-border-color;
            }
            }

            &.is-valid {
            &:focus {
            box-shadow: none;
            }

            & ~ .input-group-append .input-group-text {
            border-color: $success;
            }
            }

            &.is-invalid {
            &:focus {
            box-shadow: none;
            }

            & ~ .input-group-append .input-group-text {
            border-color: $danger;
            }
            }
            }

            .input-group-text {
            background-color: transparent;
            border-bottom-right-radius: $border-radius;
            border-left: 0;
            border-top-right-radius: $border-radius;
            color: #777;
            transition: $input-transition;
            }
            }
            }

            .login-box-msg,
            .register-box-msg {
            margin: 0;
            padding: 0 20px 20px;
            text-align: center;
            }

            .social-auth-links {
            margin: 10px 0;
            }

        </az-style>
    </az-head>
    <az-body>
        <div class="register-box">
            <div class="register-logo">
                <a href=""><b>Viec1.com</b></a>
            </div>

            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Đăng ký tài khoản</p>

                    <form action="" method="post" name="user-register">
                        <div class="input-group mb-3">
                            <input type="text" required name="fullname" class="form-control" placeholder="Họ tên">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" required name="email" class="form-control" placeholder="Tài khoản email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="tel" required name="phone" class="form-control" placeholder="Số điện thoại">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-phone"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="password" class="form-control" placeholder="Mật khẩu">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                    <label for="agreeTerms">
                                        Tôi đồng ý các <a href="#">điều khoản</a>
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i>
                            Đăng ký bằng facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i>
                            Đăng ký bằng google
                        </a>
                    </div>

                    <a href="/dang-nhap.az" class="text-center">Tôi có tài khoản rồi.</a>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </az-body>
</az-html>