@model FormTenantRegister

    <az-style link="/lib//fontawesome-free/css/all.min.css" />
    <az-style link="/jobf/css/bootstrap.min.css" />
    <az-style link="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <az-style link="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
    <az-script link="/lib/jquery/jquery.min.js" />
    <az-script link="/jobf/js/bootstrap.min.js" />
    <az-style module="auth.css" />
    <div class="auth-box" style="min-width:300px">
        <div class="auth-logo">
            <h3>Đăng ký cửa hàng mới</h3>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                @if (!String.IsNullOrEmpty(Model.Error))
            {
                <span style="color:red;font-weight:700;">@Model.Error</span>
            }
                <form action="" method="post" name="user-register" role="form">
                    <div class="row">
                        <az-group-input group-name="Tenant">
                            <div class="col-md-12 form-group">
                                <az-text-model model="Model.TenantModel" func="(item)=>((TenantModel)item).Name" label="Tên cửa hàng" />
                            </div>
                            <div class="col-md-12 form-group">
                                <az-text-model model="Model.TenantModel" func="(item)=>((TenantModel)item).Email" label="Email" />
                            </div>
                            <div class="col-md-12 form-group">
                                <az-number-model model="Model.TenantModel" type="OnlyNumber" func="(item)=>((TenantModel)item).Phone" label="Số điện thoại" />
                            </div>
                            <div class="col-md-12 form-group">
                                <az-text-model model="Model.TenantModel" func="(item)=>((TenantModel)item).CanonicalName" label="Của hàng" addon-after=".onsof.vn" />
                            </div>
                        </az-group-input>
                        <az-group-input group-name="User" is-show="!Model.IsAuth">
                            <div class="col-md-12 form-group">
                                <az-password-model func="(item)=>((UserModel)item).Password" label="Mật khẩu" />
                            </div>
                        </az-group-input>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center" style="display:none;">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Đăng ký bằng facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Đăng ký bằng google
                    </a>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <p>- OR -</p>
                    </div>
                    <div class="col-12">
                        <a href="/dang-nhap.az" class="btn az-btn btn-danger  text-center form-control">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>