<az-style module="auth.css" />
<div class="auth-box">
    <div class="auth-logo">
        <h3>Đăng nhập</h3>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h4 style="padding:30px;text-align:center;">Cửa hàng không tồn tại <br/> <br />hoặc hết hạn sử dụng dịch vụ.</h4>  
            <div class="row text-center">
                <div class="col-12">
                    <p>- OR -</p>
                </div>
                <div class="col-12">
                    <a href="https://localhost:5001" class="btn az-btn btn-danger  text-center form-control">Về trang chủ</a>
                </div>
            </div>
        </div>
</div>
</div>