<?xml version="1.0"?>
<root>
  <web-extenstion>az</web-extenstion>
  <web-default>m=home</web-default>
  <web-login>dang-nhap.az</web-login>
  <web-theme>Admin</web-theme>
  <web-layout>Admin</web-layout>
  <page>
    <!--Common-->
    <url group="Common" virtual="dang-ky.az" real="m=auth&amp;v=register"/>
    <url group="Common" virtual="dang-nhap.az" real="m=auth&amp;v=login"/>
    <url group="Common" virtual="dang-xuat.az" real='m=auth&amp;v=login&amp;h=logout'/>
    <url group="Common" virtual="tai-khoan.az" real="m=User"/>
    <url group="Common" virtual="tai-khoan/doi-mat-khau.az" real="m=User&amp;v=ChangePassword"/>
    <url group="Common" virtual="vai-tro.az" real="m=Role"/>
    <url group="Common" virtual="danh-sach-quyen.az" real="m=Permission"/>
    <url group="Common" virtual="doi-tac-su-dung-dich-vu.az" real="m=Tenant"/>
    <url group="Common" virtual="ma-he-thong.az" real="m=SystemCode"/>
    <!--Recruitment-->
    <url group="Recruitment" virtual="danh-sach-ung-vien.az" real="m=Candidate"/>
    <url group="Recruitment" virtual="cham-soc-ung-vien.az" real="m=Candidate&amp;v=Sale"/>
    <url group="Recruitment" virtual="danh-sach-cong-nhan.az" real="m=Worker"/>
    <url group="Recruitment" virtual="cham-cong-cong-nhan.az" real="m=Worker&amp;v=CheckinCheckout"/>
    <url group="Recruitment" virtual="cong-ty-thue-cong-nhan.az" real="m=CompanyWorker"/>
    <url group="Recruitment" virtual="cong-tac-vien.az" real="m=Collaborator"/>
    <!--Product-->
    <url group="Product" virtual="danh-sach-san-pham.az" real="m=Products"/>
    <url group="Product" virtual="quan-ly-ton-kho.az" real="m=Variants"/>
    <url group="Product" virtual="nhap-hang.az" real="m=PurchaseOrders"/>
	<url group="Product" virtual="nhap-hang/commit-nhap-hang.az" real="m=PurchaseOrders&amp;h=Commit"/>
    <url group="Product" virtual="nha-cung-cap.az" real="m=Supplier"/>
    <url group="Product" virtual="loai-san-pham.az" real="m=Products&amp;v=Category"/>
	<url group="Product" virtual="quan-ly-kho.az" real="m=Variants&amp;v=Store"/>
    <!--Orders-->
    <url group="Orders" virtual="don-hang.az" real="m=Orders"/>
	<url group="Orders" virtual="don-hang/commit-xuat-hang.az" real="m=Orders&amp;h=Commit"/>
    <url group="Orders" virtual="quan-ly-giao-hang.az" real="m=Shipments"/>
    <url group="Orders" virtual="doi-tac-van-chuyen.az" real="m=Shippers"/>
    <url group="Orders" virtual="khach-tra-hang.az" real="m=Returns"/>
	<!--Customers-->
	<url virtual="khach-hang.az" real="m=Customers"/>
	<url virtual="khach-hang/lich-su-mua-hang.az" real="m=Customers&amp;v=CusHistory"/>
    <!--Hotel-->
    <url group="Hotel" virtual="danh-sach-khu-vuc.az" real="m=Area"/>
    <url group="Hotel" virtual="danh-sach-phong-tro.az" real="m=Hotel"/>
    <url group="Hotel" virtual="danh-sach-nguoi-thue.az" real="m=Renter"/>
    <url group="Hotel" virtual="cac-loai-phong.az" real="m=TypeOfHotel"/>
    <url group="Hotel" virtual="don-gia.az" real="m=UnitPrice"/>
    <url group="Hotel" virtual="danh-sach-hoa-don.az" real="m=Bill"/>

  </page>
  <menu postion="Left">   
  </menu>
  <menu postion="Top">
    <menu-item icon="nav-icon fas fa-tachometer-alt" tilte="Bảng điều khiển" link="/"/>
    <menu-item icon="nav-icon fas fa-chart-pie" cmd="alt+n" tilte="[N]guồn nhân lực">
      <sub-item icon="nav-icon fas fa-table" cmd="shift+n"  tilte="Chăm sóc ứng viê[n]" link="/cham-soc-ung-vien.az"/>
      <sub-item icon="nav-icon fas fa-table"  cmd="shift+v" tilte="Danh sách ứng [v]iên" link="/danh-sach-ung-vien.az"/>
      <sub-item icon="nav-icon fas fa-table" cmd="shift+alt+h" tilte="Danh sách công n[h]ân" link="/danh-sach-cong-nhan.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Bảng chấm công của công nhân" link="/cham-cong-cong-nhan.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Bảng lương của công nhân" link="/luong-cong-nhan.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Đơn vị công tác viên" link="/cong-tac-vien.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Công ty thuê công nhân" link="/cong-ty-thue-cong-nhan.az"/>
    </menu-item>
    <menu-item icon="nav-icon fas fa-chart-pie" tilte="Báo cáo">
	    <sub-item icon="nav-icon fas fa-table" tilte="Tổng quan" link="/dashboard.az"/>
	    <sub-item icon="nav-icon fas fa-table" tilte="Báo cáo bán hàng" link="/bao-cao-ban-hang.az"/>
	    <sub-item icon="nav-icon fas fa-table" tilte="Báo cáo kho" link="/bao-cao-kho.az"/>
		<sub-item icon="nav-icon fas fa-table" tilte="Báo cáo tài chính" link="/bao-cao-tai-chinh.az"/>
    </menu-item>
    <menu-item icon="nav-icon fas fa-chart-pie" tilte="Đơn Hàng">
		<sub-item icon="nav-icon fas fa-table" tilte="Đơn hàng" link="/don-hang.az"/>
		<sub-item icon="nav-icon fas fa-table" tilte="Quản lý giao hàng" link="/quan-ly-giao-hang.az"/>
		<sub-item icon="nav-icon fas fa-table" tilte="Đối tác vận chuyển" link="/doi-tac-van-chuyen.az"/>
		<sub-item icon="nav-icon fas fa-table" tilte="Khách trả hàng" link="/khach-tra-hang.az"/>
	</menu-item>
	<menu-item icon="nav-icon fas fa-chart-pie" tilte="Sản Phẩm">
	  <sub-item icon="nav-icon fas fa-table" tilte="Danh sách sản phẩm" link="/danh-sach-san-pham.az"/>
		<sub-item icon="nav-icon fas fa-table" tilte="Quản lý tồn kho" link="/quan-ly-ton-kho.az"/>
		<sub-item icon="nav-icon fas fa-table" tilte="Nhập hàng" link="/nhap-hang.az"/>
		<sub-item icon="nav-icon fas fa-table" tilte="Nhà cung cấp" link="/nha-cung-cap.az"/>
    </menu-item>
	<menu-item icon="nav-icon fas fa-chart-pie" tilte="Khách Hàng" link="/khach-hang.az">
	</menu-item>
    <menu-item icon="nav-icon fas fa-table" tilte="Hệ thống">
        <sub-item icon="nav-icon fas fa-table" tilte="Tài khoản" link="/tai-khoan.az"/>
        <sub-item icon="nav-icon fas fa-table" tilte="Danh sách quyền" link="/danh-sach-quyen.az"/>
        <sub-item icon="nav-icon fas fa-table" tilte="Đối tác sử dụng dịch vụ" link="/doi-tac-su-dung-dich-vu.az"/>
        <sub-item icon="nav-icon fas fa-table" tilte="Mã hệ thống" link="/ma-he-thong.az"/>
    </menu-item>

    <menu-item icon="nav-icon fas fa-table" tilte="Nhà trọ">
      <sub-item icon="nav-icon fas fa-table" tilte="Khu vực" link="/danh-sach-khu-vuc.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Phòng trọ" link="/danh-sach-phong-tro.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Người thuê trọ" link="/danh-sach-nguoi-thue.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Loại phòng trọ" link="/cac-loai-phong.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Đơn giá" link="/don-gia.az"/>
      <sub-item icon="nav-icon fas fa-table" tilte="Hóa đơn" link="/danh-sach-hoa-don.az"/>
    </menu-item>
    <menu-item icon="nav-icon fas fa-cogs" tilte="Thiết lập" ></menu-item>
  </menu>
  <head>
    <!-- Font Awesome Icons -->
    <style src="/lib//fontawesome-free/css/all.min.css"/>
    <style src="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <style src="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"/>
    <style></style>
    <script src="/lib/jquery/jquery.min.js"/>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"/>
    <script src="/lib/admin-lte/js/adminlte.min.js"/>
    <style src="/lib/admin-lte/css/adminlte.min.css"/>
    <script src="/lib/moment/moment.min.js"/>
    <!--select2-->
    <script src="/lib/select2/js/select2.js"/>
    <style src="/lib/select2/css/select2.css"/>
    <style src="/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css"/>
    <!--icheck-bootstrap-->
    <style src="/lib/icheck-bootstrap/icheck-bootstrap.min.css"/>
    <!--bootstrap-switch-->
    <script src="/lib/bootstrap-switch/js/bootstrap-switch.min.js"/>
    <style src="/lib/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css"/>
    <!--daterangepicker-->
    <script src="/lib/daterangepicker/daterangepicker.js"/>
    <style src="/lib/daterangepicker/daterangepicker.css"/>
    <!--inputmask-->
    <script src="/lib/inputmask/min/jquery.inputmask.bundle.min.js"/>
    <!--summernote-->
    <script src="/lib/summernote/summernote.min.js"/>
    <style src="/lib/summernote/summernote-bs4.css"/>
    <!--toastr-->
    <script src="/lib/toastr/toastr.min.js"/>
    <style src="/lib/toastr/toastr.min.css"/>
    <!--signalr-->
    <script src="/lib/signalr/dist/browser/signalr.min.js"/>
    <!--AZ Core-->
    <style src="/az-core/css/az-main.css"/>
    <script src="/az-core/js/az-hotkey.js"/>
    <script src="/az-core/js/az-core.js"/>
    <script src="/az-core/js/az-ajax.js"/>
    <script src="/az-core/js/az-popup.js"/>
    <script src="/az-core/js/az-manager.js"/>
    <script src="/az-core/js/az-url.js"/>
    <script src="/az-core/js/az-signalR.js"/>
    <!-- -->
    
  </head>
</root>