@model FormCusHistory
    <az-layout class="az-update">
        <div class="az-page-info">
            <div class="az-page-info-title">Lịch sử mua hàng</div>
            <div class="az-page-info-body">
                <div class="row">
                    <div class="col-md-12 az-data-table">
                        <az-table is-edit="false" is-delete="false" data="Model.Data" FunKey="(item)=>((PurchaseOrderModel)item).Id" columns="Model.Columns" pagination="Model" />
                    </div>
                    <div class="az-bottom-manager">
                        <az-pagination pagination="Model" />
                    </div>
                </div>
            </div>
        </div>
    </az-layout>
