@model FormRegisterTenant
<az-html class="hold-transition register-page">
    <head>
        <az-style link="/assets/plugins/fontawesome-free/css/all.min.css" />

        <!-- Ionicons -->
        <az-style link="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <!-- icheck bootstrap -->
        <az-style link="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
        <!-- Theme style -->
        <az-style link="/assets/adminlte/css/adminlte.min.css" />
        <!-- Google Font: Source Sans Pro -->
        <az-style link="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
        <!-- jQuery -->
        <az-script link="/assets/plugins/jquery/jquery.min.js"></az-script>
        <!-- Bootstrap 4 -->
        <az-script link="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></az-script>
        <!-- AdminLTE App -->
        <az-script link="/assets/adminlte/js/adminlte.min.js"></az-script>
        <az-script module="auth-register-tenant.js" />
        <az-script link="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js" />
        <az-script module="background.js" />
        <az-style module="background.css" />
    </head>
    <body>

        <div class="register-box">
           

            <div class="card">
                <div class="card-body register-card-body">
                    <div class="register-logo">
                        <a href="/">
                            <img src="/assets/images/logo2.png" alt="Tìm việc nhanh" style="opacity: 1;width: 90%;">
                        </a>
                    </div>
                    <h2 class="login-box-msg">Đăng ký đơn vị mới</h2>
                    <form action="" method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="InputFullName" class="form-control" placeholder="Họ tên">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" name="InputEmail" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="tel" name="InputPhoneNumber" class="form-control" placeholder="Số điện thoại">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-phone"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="InputPassword" class="form-control" placeholder="Mật khẩu">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            @if (Model.JoinCode == null || Model.JoinCode == string.Empty)
                            {
                                <az-checkbox name="InputCheckTentaint" id="InputCheckTentaint" value="true" is-enable="@Model.JoinCode!= null && Model.JoinCode != string.Empty" value-default="@Model.JoinCode!= null && Model.JoinCode != string.Empty" script-random='id => ScriptHelpper.Script(id, "AuthRegisterTentaint_ChangeTentaint")' label="Đã có mã đối tác" />
                            }
                            else
                            {
                                <input type="hidden" name="InputCheckTentaint" value="true" />
                                <label>Đã có mã đối tác</label>
                            }
                        </div>
                        <div class="input-group mb-3">
                            @if (Model.JoinCode != null)
                            {
                                <input type="text" name="InputTentaintName" class="form-control" readonly placeholder="Tên đơn vị mới" value="@Model.JoinCode">
                            }
                            else
                            {
                                <input type="text" name="InputTentaintName" class="form-control" placeholder="Tên đơn vị mới">

                            }
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user-friends"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                    <label for="agreeTerms">
                                        Tôi đồng ý <a href="#">điều khoản</a> này.
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Đăng ký thành viên</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    <div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="/auth/register-tenant.az" class="btn btn-block btn-success">
                            <i class="fab fa-group mr-2"></i> Tôi đăng ký thành viên
                        </a>
                    </div>
                    <a href="/auth/login.az" class="text-center">Tôi đã có tài khoản.</a>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </body>
</az-html>