@model FormLogin
<az-html class="hold-transition register-page">
    <head>
        <az-style link="/assets/plugins/fontawesome-free/css/all.min.css" />
        <!-- Ionicons -->
        <az-style link="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <!-- icheck bootstrap -->
        <az-style link="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
        <!-- Theme style -->
        <az-style link="/assets/adminlte/css/adminlte.min.css" />
        <!-- Google Font: Source Sans Pro -->
        <az-style link="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
        <!-- jQuery -->
        <az-script link="/assets/plugins/jquery/jquery.min.js" />
        <!-- Bootstrap 4 -->
        <az-script link="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js" />
        <!-- AdminLTE App -->
        <az-script link="/assets/adminlte/js/adminlte.min.js" />
        <az-script link="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"/>
        <az-script module="background.js" />
        <az-style module="background.css" />
    </head>
    <body>
        <div class="login-box">
            
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <div class="register-logo">
                        <a href="/">
                            <img src="/assets/images/logo2.png" alt="Tìm việc nhanh" style="opacity: 1;width: 90%;">
                        </a>
                    </div>
                    <h2 class="login-box-msg">Đăng nhập</h2>
                    @if (!String.IsNullOrEmpty(Model.MessageError))
                    {
                        <span style="color:red;font-weight:700;">@Model.MessageError</span>
                    }
                    <form action="" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="InputPhoneNumberOrEmail" placeholder="Số điện thoại hoặc email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="InputPassword" placeholder="Mật khẩu">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="remember" name="CheckRemember">
                                    <label for="remember">
                                        Nhớ lại tài khoản.
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    <div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Đăng nhập Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Đăng nhập Google+
                        </a>
                    </div>
                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a href="/auth/forgot-password.az">Quên mật khẩu.</a>
                    </p>
                    <p class="mb-0">
                        <a href="/auth/register.az" class="text-center">Đăng ký tài khoản</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div><!-- /.login-box -->
    </body>
</az-html>