@model FormUser
<az-content-header />
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <az-layout class="az-manager" script-random="id=>ScriptHelpper.FormManager(id,string.Empty)">
            @(Html.Grid(Model.Data)
                .Using(AZWeb.Module.Html.Grid.GridProcessingMode.Manual)
                .Id("IdUserCompany")
                .Build(columns =>
                {
                    columns.Add().RenderedAs((model, row) => row + 1+(Model.PageIndex-1)*Model.PageSize).Titled("#").Css("text-center");
                    columns.Add(prop => prop.Id).Hidden();
                    columns.Add(prop => prop.FullName).Titled("Họ tên");
                    columns.Add(prop => prop.Gender).Titled("Giới tính");
                    columns.Add(prop => prop.Email).Titled("Email");
                    columns.Add(prop => prop.PhoneNumber).Titled("Số điện thoại");
                    columns.Add(prop => prop.Address).Titled("Địa chỉ");
                    columns.Add().RenderedAs((model, row) => "<button class='btn btn-primary btn-sm btn-edit' data-id='{0}'><i class='far fa-edit'></i> Sửa</button>".Frmat(model.Id)).Encoded(false).Titled("Sửa").Css("text-center");
                    columns.Add().RenderedAs((model, row) => "<button class='btn btn-warning btn-sm btn-remove' data-id='{0}'><i class='fa fa-trash'></i> Xóa</button>".Frmat(model.Id)).Encoded(false).Titled("Xóa").Css("text-center");
                })
                .Filterable(AZWeb.Module.Html.Grid.GridFilterType.Multi)
                .Sortable()
                )
            <az-pagination pagination="Model" />
        </az-layout>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->