@model FormFixedBill
<az-module-layout script-random='(id)=>$"$(\".{id}\").AZManager();"'>
    <div class="az-manager"  data-form-size="az-modal-xl">
        <div class="az-toolbar">
            <az-button class="btn btn-success btn-sm az-btn az-btn-add" cmd-key="f1" icon="far fa-plus-square" text="Thêm Mới (F1)" />
            <az-button class="btn btn-info btn-sm az-btn az-btn-export" cmd-key="f2" icon="fas fa-file-export" text="Xuất Excel (F2)" />
            <az-button class="btn btn-secondary btn-sm az-btn az-btn-import" cmd-key="f3" icon="fas fa-file-import" text="Nhập Excel (F3)" />
        </div>
        <div class="az-search-manager">
            <div class="row">
                <div class="col-md-10">
                    <form class="az-search-form row">
                        <az-hidden-model model="Model" func="(item)=>((FormFixedBill)item).PageSize" />
                        <div class="form-group col-md-2">
                            <az-text-model model="Model" func="(item)=>((FormFixedBill)item).FixedBillCode" label="Mã Hóa Đơn Cố Định" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-contract-select model="Model" func="(item)=>((FormFixedBill)item).ContractID" label="Hợp Đồng" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-text-model model="Model" func="(item)=>((FormFixedBill)item).RoomCharge" label="Tiền Phòng" />
                        </div>
                    </form>
                </div>
                <div class="col-md-2 align-self-center">
                    <div class="btn-group float-right ">
                        <button type="button" class="btn btn-warning  az-btn az-btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
                        <button type="button" class="btn btn-warning  dropdown-toggle dropdown-icon az-btn" data-toggle="dropdown">
                            <span class="sr-only">Tìm kiếm nâng cao</span>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="az-data-table">
            <az-table data="Model.Data" FunKey="(item)=>((FixedBillModel)item).Id" columns="Model.Columns" pagination="Model" />
        </div>
        <div class="az-bottom-manager">
            <az-pagination pagination="Model" />
        </div>
    </div>
</az-module-layout>