@model JobInfoModel
    <div class="apply_job white-bg">
        <button class="btn btn-danger">Ứng tuyển vị trí này</button>
        <div class="apply_form" style="display:none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="input_field">
                        <input type="text" placeholder="Your name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input_field">
                        <input type="text" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input_field">
                        <input type="text" placeholder="Website/Portfolio link">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" id="inputGroupFileAddon03">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                            <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input_field">
                        <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>