@model int
<div class="col-lg-12 col-md-12">
    <div class="single_jobs white-bg d-flex justify-content-between">
        <div class="jobs_left d-flex align-items-center">
            <div class="thumb">
                <img src="/jobf/img/svg_icon/@(Model).svg" alt="">
            </div>
            <div class="jobs_conetent">
                <a href="thong-tin-viec-lam/@Model-tuyen-dung-cong-nhan-canon-nam-nu.az"><h4>Software Engineer</h4></a>
                <div class="links_locat d-flex align-items-center">
                    <div class="location">
                        <p> <i class="fa fa-map-marker"></i> California, USA</p>
                    </div>
                    <div class="location">
                        <p> <i class="fa fa-clock-o"></i> Part-time</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jobs_right">
            <div class="apply_now">
                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                <a href="thong-tin-viec-lam/@Model-tuyen-dung-cong-nhan-canon-nam-nu.az" class="boxed-btn3">Apply Now</a>
            </div>
            <div class="date">
                <p>Date line: 31 Jan 2020</p>
            </div>
        </div>
    </div>
</div>