@model FormUpdateCandidate
<div class="az-update row" role="form">
    <div class="form-group col-md-6">
        <az-text-model model="Model.Data" func="(item)=>((CandidateModel)item).FullName" label="Họ tên" attr="autofocus" />
    </div>
    <div class="form-group col-md-6">
        <az-text-model model="Model.Data" func="(item)=>((CandidateModel)item).PhoneNumber" label="Số điện thoại" />
    </div>
    <div class="form-group col-md-6">
        <az-date-model model="Model.Data" func="(item)=>((CandidateModel)item).BirthDay" label="Ngày sinh(Nếu chỉ năm sinh:01/01/Năm sinh)" />
    </div>
    <div class="form-group col-md-6">
        <az-gender-select model="Model.Data" func="(item)=>((CandidateModel)item).Gender" label="Giới tínhh" null-text="Chọn giới tính" />
    </div>
    <div class="form-group col-md-6">
        <az-text-model model="Model.Data" func="(item)=>((CandidateModel)item).Address" label="Địa chỉ" />
    </div>
    <div class="form-group col-md-6">
        <az-text-model model="Model.Data" func="(item)=>((CandidateModel)item).AddressCurrent" label="Hiện tại trọ đâu" />
    </div>
    <div class="form-group col-md-6">
        <az-address-worker-select model="Model.Data" func="(item)=>((CandidateModel)item).TargetToAddress" null-text="Chọn khu làm việc" label="Làm khu vực" />
    </div>
    <div class="form-group col-md-6">
        <az-call-status-select model="Model.Data" func="(item)=>((CandidateModel)item).CallStatus" label="Trạng thái gọi" />
    </div>
    <div class="form-group col-md-6">
        <az-date-model model="Model.Data" func="(item)=>((CandidateModel)item).StartWork" label="Hẹn đi làm" />
    </div>
    <div class="form-group col-md-6">
        <az-date-model model="Model.Data" func="(item)=>((CandidateModel)item).GoCompanyAt" label="Hẹn đến văn phòng" />
    </div>
    <div class="form-group col-md-6">
        <az-date-model model="Model.Data" func="(item)=>((CandidateModel)item).CallBack" label="Hẹn gọi lại" />
    </div>
    <div class="form-group col-md-6">
        <az-text-model model="Model.Data" func="(item)=>((CandidateModel)item).LinkFacebook" label="Đường dẫn facebook" />
    </div>
    <div class="form-group col-md-12">
        <az-text-area-model model="Model.Data" func="(item)=>((CandidateModel)item).Note" label="Ghi chú" />
    </div>
</div>
<az-script>

</az-script>