@model FormCandidate
<az-module-layout script-random='(id)=>$"$(\".{id}\").AZManager();"'>
    <div class="az-manager"  data-form-size="az-modal-xl">
        <div class="az-toolbar">
           <az-button class="btn btn-success btn-sm az-btn az-btn-add" cmd-key="f1" icon="far fa-plus-square" text="Thêm Mới (F1)"/>
           <az-button class="btn btn-info btn-sm az-btn az-btn-export" cmd-key="f2" icon="fas fa-file-export" text="Xuất Excel (F2)"/>
           <az-button class="btn btn-secondary btn-sm az-btn az-btn-import" cmd-key="f3" icon="fas fa-file-import" text="Nhập Excel (F3)"/>
        </div>
        <div class="az-search-manager">
            <div class="row">
                <div class="col-md-10">
                    <form class="az-search-form row">
                        <az-hidden-model model="Model" func="(item)=>((FormCandidate)item).PageSize" />
                        <div class="form-group col-md-2">
                            <az-date-model model="Model" func="(item)=>((FormCandidate)item).CreateAt" label="Ngày tạo" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-text-model model="Model" func="(item)=>((FormCandidate)item).FullName" label="Họ tên" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-text-model model="Model" func="(item)=>((FormCandidate)item).PhoneNumber" label="Số điện thoại" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-gender-select model="Model" func="(item)=>((FormCandidate)item).Gender" label="Giới tính" null-text="Chọn Tất cả" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-call-status-select model="Model" func="(item)=>((FormCandidate)item).CallStatus" label="Trạng thái gọi" null-text="Chọn Tất cả" />
                        </div>
                        <div class="form-group col-md-2">
                            <az-address-worker-select model="Model" func="(item)=>((FormCandidate)item).TargetToAddress" label="Nơi làm việc" null-text="Chọn Tất cả" />
                        </div>
                    </form>
                </div>
                <div class="col-md-2 align-self-center">
                    <div class="btn-group float-right ">
                       <az-button class="btn btn-warning  az-btn az-btn-search" icon="fas fa-search" text="Tìm kiếm"/>
                       <az-button class="btn btn-warning  dropdown-toggle dropdown-icon az-btn" data-toggle="dropdown">
                           <span class="sr-only">Tìm kiếm nâng cao</span>
                           <div class="dropdown-menu" role="menu">
                               <a class="dropdown-item" href="#">Action</a>
                               <a class="dropdown-item" href="#">Another action</a>
                               <a class="dropdown-item" href="#">Something else here</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item" href="#">Separated link</a>
                           </div>
                       </az-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="az-data-table">
            <az-table data="Model.Data" FunKey="(item)=>((CandidateModel)item).Id" columns="Model.Columns" pagination="Model" />
        </div>
        <div class="az-bottom-manager">
            <az-pagination pagination="Model" />
        </div>
    </div>
</az-module-layout>