@model LayoutTheme

    <az-html class="az-layout layout-top-nav accent-primary">
        <head>
            <az-token-jwt />
           

        </head>
        <body>
            @Model.BodyContent
        </body>
    </az-html>