#main-home{
    margin-top:140px;
}
@media (max-width: 992px){
    #main-home{
        margin-top:60px;
    }
}
#hero{
    
    height: auto;
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .btn-get-started, #hero .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: auto;
  }
}
.form-search{
    margin:30px auto 10px auto;
    padding:5px;
    width:80%;
}
@media (max-width: 768px) {
    
    .form-search{
        width:90%;
    }
}

@media (max-width: 500px) {
    
    .form-search{
        width:95%;
    }
}