@model FormUpdateWorker
    <div class="az-update row" role="form">
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((WorkerModel)item).FullName" label="Họ tên" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((WorkerModel)item).PhoneNumber" label="Số điện thoại" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((WorkerModel)item).CMD" label="Chứ minh thư" />
        </div>
        <div class="form-group col-md-6">
            <az-date-model model="Model.Data" func="(item)=>((WorkerModel)item).BirthDay" label="Ngày sinh(Nếu chỉ năm sinh:01/01/Năm sinh)" />
        </div>
        <div class="form-group col-md-6">
            <az-gender-select model="Model.Data" func="(item)=>((WorkerModel)item).Gender" label="Giới tínhh" null-text="Chọn giới tính" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((WorkerModel)item).Address" label="Địa chỉ" />
        </div>
        <div class="form-group col-md-6">
            <az-text-model model="Model.Data" func="(item)=>((WorkerModel)item).AddressCurrent" label="Hiện tại trọ đâu" />
        </div>
        <div class="form-group col-md-6">
            <az-company-worker-select model="Model.Data" func="(item)=>((WorkerModel)item).CompanyId" label="Công ty" />
        </div>
        <div class="form-group col-md-6">
            <az-address-worker-select model="Model.Data" func="(item)=>((WorkerModel)item).TargetToAddress" null-text="Chọn khu làm việc" label="Làm khu vực" />
        </div>
        <div class="form-group col-md-6">
            <az-worker-status-select model="Model.Data" func="(item)=>((WorkerModel)item).WorkerStatus" label="Trạng thái" />
        </div>
        <div class="form-group col-md-6">
            <az-date-model model="Model.Data" func="(item)=>((WorkerModel)item).StartWork" label="Ngày đi làm" />
        </div>
        <div class="form-group col-md-6">
            <az-date-model model="Model.Data" func="(item)=>((WorkerModel)item).LastWork" label="Ngày nghỉ việc" />
        </div>
        <div class="form-group col-md-12">
            <az-text-area-model model="Model.Data" func="(item)=>((WorkerModel)item).Note" label="Ghi chú" />
        </div>
    </div>
<az-script>

</az-script>